@media screen and (max-width: 1400px) {
    .image-container {
        display: flex;
        flex-direction: column;
        gap: 10vmin;
    }

    .sun {
        width: 10vmin;
        position: absolute;
        transform: translate(0vmin, -15vmin);
    }

    .world {
        width: 9vmin;
        position: absolute;
        transform: translate(0vmin, -20vmin);
    }

    .image-scale {
        width: 100%;
    }

    .text-image-container {
        display: flex;
        flex-direction: column;
    }

    /* FID */
    .single-page-image {
        width: 100%;
    }

    .fid {
        width: 9vmin;
        position: absolute;
        transform: translate(0vmin, -20vmin);
    }

    .pocket {
        width: 20vmin;
    }

    .sun-top {
        width: 20vmin;
        height: 20vmin;
        transform: translate(-30vmin, -2vmin); 
    }

    .waves {
        width: 20vmin;
        height: auto;
        transform: translate(5vmin, 10vmin); 
    }

    .title-dec {
        display: flex;
        flex-direction: row;
        gap: 5vmin;
    }
}

@media screen and (min-width: 1400px) {
    .image-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10vmin;
        justify-content: center;
    }

    .sun {
        width: 28vmin;
        height: auto;
        position: absolute;
        transform: translate(100vmin, -28vmin);
    }

    .world {
        width: 30vmin;
        margin-right: auto;
    }

    .image-scale {
        width: 80vmin;
    }

    .text-image-container {
        display: flex;
        flex-direction: row;
        gap: 10vmin;
    }

    /* FID */
    .single-page-image {
        width: 80vmin;
        margin-left: auto;
        margin-right: auto;
    }

    .fid {
        width: 30vmin; 
        position: absolute;
        transform: translate(120vmin, -40vmin);      
    }

    .pocket {
        width: 25vmin;
        height: auto;
        top: 50vmin;
        right: 30vmin;
        position: absolute;
    }

    .sun-top {
        width: 20vmin;
        height: 20vmin;
        z-index: 1;
        position: absolute;
        transform: translate(110vmin, -4vmin);
    }

    .waves {
        width: 35vmin;
        height: auto;
        position: absolute;
        transform: translate(110vmin, 20vmin);
    }

    .title-dec {
        display: flex;
        flex-direction: row;
        gap: 10vmin;
    }
}

.CaseStudy {
    display: flex;
    flex-direction: column;
    gap: 16vmin;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 30vmin;
}

.h1 {
    margin: 0;
    width: 80%;
}

.p {
    margin: 0;
}

.h3 {
    margin: 0;
}

.a {
    font-size: 2.2vmin;
    opacity: 0.5;
}

.caption {
    font-size: 1.9vmin;
    opacity: 0.6;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2vmin;

    position: relative;
}

.section-desc {
    display: flex;
    flex-direction: column;
    gap: 2vmin;    
}

.page-image {
    width: 42vmin;
}

.image-with-caption {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.last-section {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* FID */
.single {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.single-fid-old-page {
    width: 100%;
}