html {
  scroll-behavior: smooth;
  transition-delay: 1s !important;
}

body {
  margin: 0;
  font-family: 'Spartan';
}

@font-face {
  font-family: 'NewYork';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/NewYork/NewYork.otf) format('otf'),
       url(./fonts/NewYork/NewYork.woff2) format('woff2'),
       url(./fonts/NewYork/NewYork.woff) format('woff'),
       url(./fonts/NewYork/NewYork.ttf)  format('truetype'), 
       url(./fonts/NewYork/NewYork.svg#svgFontName) format('svg');
}

@font-face {
  font-family: 'AcuminProWideBook';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/AcuminProWide/AcuminProWideBook.otf) format('otf'),
       url(./fonts/AcuminProWide/AcuminProWide-Regular.woff2) format('woff2'),
       url(./fonts/AcuminProWide/AcuminProWide-Regular.woff) format('woff'),
       url(./fonts/AcuminProWide/AcuminProWide-Regular.ttf)  format('truetype'), 
       url(./fonts/AcuminProWide/AcuminProWide-Regular.svg#svgFontName) format('svg');
}

h1 {
  font-family: NewYork;
  font-size: 10vmin;
}

h2 {
  font-family: NewYork;
  font-size: 7vmin;
  margin-top: 2vmin;
}

h3 {
  font-family: AcuminProWideBook;
  font-size: 2vmin;
}

h4 {
  font-family: AcuminProWideBook;
  font-size: 1.5vmin;  
}

p {
  font-family: Spartan, 'sans-serif';
  font-size: 2.3vmin;
  line-height: 3.5vmin;
}


a {
  font-family: Spartan, sans-serif;
  font-size: 2vmin;
  text-decoration: none;
  color:black;
  transition: 500ms;
  text-align: right;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}